/* Geral */


.playfair-display-font {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    background-color: #1f2937;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

#header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-family: "Nunito", sans-serif;
    font-size: 2.5em;
    color: #4A90E2;
}

/* Logo */
.logo-img {
    height: 130px;
    margin-right: 50px;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    /* azul escuro suave */
    padding: 15px 30px;
    border-radius: 10px;
}

/* Links */
.nav-links a {
    padding: 2em 1em;
    font-size: 2em;
    margin: 0 10px;
    color: #e0e0f0;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #8b5cf6;
    /* roxo bonito */
}


/* Mensagens Flash */
.messages {
    margin-top: 20px;
}

ul {
    list-style-type: none;
}

.message.success {
    color: green;
    font-weight: bold;
}

.message.danger {
    color: red;
    font-weight: bold;
}

li {
    margin-bottom: 10px;
}

/* Posts */
#posts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.post {
    background-color: #555470;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.post:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-family: "Nunito", sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    color: #fff;
    margin-bottom: 15px;
}

.post-content {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    margin-bottom: 10px;
}

.post-date {
    font-family: "Nunito", sans-serif;
    font-weight: 500;
    color: #fff;
    font-size: 0.9em;
}

.delete-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #8b5cf6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.delete-link:hover {
    background-color: #b13838;
}

.btn-create {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #8b5cf6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s;
    max-width: 150px;
    /* Set a maximum width */
    text-align: center;
    /* Center the text inside the button */
    white-space: nowrap;
    /* Prevent text from wrapping */
}



.btn-create:hover {
    background-color: #482b8b;
}

/* Formulário de Confirmação */
#confirmation-section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
}

#confirmation-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#confirmation-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.confirmation-button {
    padding: 10px 15px;
    background-color: #e74c3c;
    color: #fff;
    font-size: 1.1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirmation-button:hover {
    background-color: #c0392b;
}

/* Links */
.go-back-link {
    color: #4A90E2;
    text-decoration: none;
}

.go-back-link:hover {
    text-decoration: underline;
}